@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Dosis&family=Josefin+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.background {
  width: 100%;
  height: 100vh;
  background: url(pama.png);
  background-size: cover;
  background-position: center;
}

.background h1 {
  text-align: center;
  color: #fafafa;
  padding: 10px;
  font-size: 1.5em;
  font-family: "Balsamiq Sans", cursive;
}

.option-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.option-box button {
  width: 75%;
  border-radius: 20px;
  background: rgba(229, 57, 53, 0.7);
  border: 3px solid #b71c1c;
  outline: none;
  font-family: balsamiq sans;
}

.option-box button:hover {
  background: #b71c1c;
  outline: none;
}

.option-box button a {
  color: #fafafa;
  text-decoration: none;
}

.option-box h4 {
  font-weight: bolder;
  font-family: josefin sans;
  font-size: 2em;
  color: #b71c1c;
}

.background-message {
  width: 100%;
  height: 100%;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.background-message h1,
.background-song h1,
.background-pama h1 {
  text-align: center;
  color: #4a148c;
  padding: 20px;
  font-size: 2em;
  font-weight: bolder;
  font-family: josefin sans;
}

.message-box {
  margin: 1em;
  padding: 20px;
  background: rgba(74, 20, 140, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
}

.message-box p {
  color: #fafafa;
  text-align: justify;
  font-family: dosis;
}

.background-song {
  width: 100%;
  height: 100vh;
  background: #f4c4f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #fc67fa,
    #f4c4f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #fc67fa,
    #f4c4f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.background-song video {
  width: 100%;
}

.background-pama {
  width: 100%;
  height: 100%;
  background: #f4c4f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #fc67fa,
    #f4c4f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #fc67fa,
    #f4c4f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pama-img {
  width: 100%;
  background: #fafafa;
}

.pama-img img {
  width: 100%;
  border: 2px solid #4a148c;
}
